.body {
  background-color: #e0ffcd;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  /*   align-items: flex-start; */
  text-align: center;
}
.title {
  margin: 0px;
  padding: 20px;
}
/* .style-selector {
  margin: 0px;
  padding: 20px;
  background-color: #d4d4d4;
} */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: 10px; */
  padding: 1em 4em;
  height: 60vh;
  justify-content: center;
}
.screen {
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 36px;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: -15px;
}
.btn {
  border-radius: 2%;
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(240, 234, 234);
}
.btn-operator {
  background-color: #fdffcd;
}
.btn-number {
  background-color: #ffcab0;
}
.btn-number-0 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ffcab0;
}
.btn-comma {
  background-color: #ffcab0;
}
.footer {
  /* margin: 10px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}
